body {
    width: 1400 px;
}
header {
    width: 1400px;
    height: 38px;
    background-color: #313131;
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
}
.header__link {
    font-size: 14px;
    font-size: 'Roboto Regular';
    display: flex;
    gap: 30px;
    padding-top: 10px;
    padding-left: 140px;
}
.header__connection {
    display: flex;
    padding-right: 100px;
    margin-top: 10px;
}
.header__connection__icon1 {
    width: 17px;
    height: 17px;
    margin-right: 11px;    
}
.header__connection__phone {
    font-size: 14px;
    font-family: 'Roboto Regular';
    margin-right: 30px;
}
.header__connection__icon2 {
    width: 29px;
    height: 16.92px;
    margin-right: 10px;
}
.header__connection__text {
    font-size: 14px;
    font-family: 'Roboto Regular';
}
nav {
    margin-top: 20px;
}
nav {
    width: 1138.87px;
    height: 50px;
    margin-left: 140px;
    display: flex;
    align-items: center;
}
.nav__logo {
    width: 112.96px;
    height: 25px;    
}
.nav__input {
    width: 839px;
    height: 50px;
    margin-left: 38.04px;
    padding-left: 46px;
    border: 1px solid #E6E6E6;    
}
.nav {
    position: relative;
}
.nav__search {
    position: absolute;
    left: 53.04px;
    top: 18px;
}
.nav__icon__1 {
    width: 19.83px;
    height: 17px;
    margin-left: 37px;
}
.nav__icon__2 {
    width: 19px;
    height: 18px;
    margin-left: 30.17px;
}
.nav__icon__3 {
    width: 12.87px;
    height: 18px;
    margin-left: 22px;
}
.catalog {
    display: flex;
    width: 1140px;
    height: 70px;
    align-items: center; 
    box-shadow: 0 2px 4px 0 #00000012;       
}
.catalog__icon {
    display: flex;
    gap: 10px;
    margin-left: 50px;
}
.catalog__icon:first-child {
    margin-left: 40px;
}
.catalog__icon:last-child {
    margin-left: 47px;
}
.catalog__icon__text {
    color: #414141;
    font-size: 16px;
    font-family: 'Roboto Regular';
    text-transform: capitalize;
}
.catalog__icon__text:nth-child(1) {
    color: #D74444;
    padding-bottom: 3px;    
}
.banner {
    width: 1140;
    height: 450px;
    margin-left: 140px;
    margin-top: 30px;
    box-shadow: 0 5px 11px 2px #00000017;
    position: relative;   
}
.banner__picture {
    background-image: url(../img/1785\ 1.png);
    width: 1140px;
    height: 450px;
    background-size: cover;
    border: none;        
}
.banner__text {
    padding-left: 120px;
    padding-top: 100px;
}
.banner__text__title {
    font-size: 50px;
    text-transform: uppercase;
    width: 216px;
    height: 106px;
    font-family: 'PlayfairDisplaySC';
    color: #3C3C3C;
    margin: 0;  
    line-height: 52.65px;   
}
.banner__text__main {
    font-size: 16px;
    color: #343434;
    font-family: 'RobotoCondensed Light';
    width: 280px;
    height: 23px;
    margin: 15px 0 0 0;
}
.banner__text__button {
    background-color: #FFFFFF;
    width: 163px;
    height: 45px;
    border: none;
    margin-top: 20px;
    color: #414141;
    letter-spacing: 4%;
    font-size: 12px;
    font-family: 'RobotoCondensed Light';
    line-height: 16.9px;
    letter-spacing: 4%;
    box-shadow: 0 2px 4px 0 #00000012;
    font-weight: 700;
}
.banner__arrow1 {
    position: absolute;
    scale: -1;
    left: 25px;
    top: 210px;
}
.banner__arrow2 {
    position: absolute;   
    left: 1085px;
    top: 210px; 
}
.list {
    width: 1140px;    
    margin-top: 30px;
    margin-left: 140px;
}
.list__title {    
    font-size: 16px;
    line-height: 18.75px;
    color: #414141;
    font-weight: 400;
    font-family: 'RobotoCondensed Light';
}
.list__catalog {
    display: flex;   
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 86px;
}
.list__catalog__card {
    position: relative;
    width: 263px;
    height: 344px;
    margin-bottom: 53px;           
}
.list__catalog__card__heart {
    position: absolute;
    left: 230px;
    top: -11px;
}
.list__catalog__card__picture {
    margin-left: 32px;
    margin-top: 42px;
}
.list__catalog__card__text {
    margin-left: 20px;
    margin-top: 42px;
}
.list__catalog__card__text1 {
    font-size: 16px;
    font-family: 'Roboto Medium';
    font-weight: 500;
    line-height: 18.75px;
    color: #414141;
    margin: 0;
}
.list__catalog__card__text2 {
    font-size: 11px;
    font-family: 'Roboto Medium';
    font-weight: 400;
    line-height: 12.89px;
    color: #414141;
    margin: 6px 0 0 0;
}
.list__catalog__card__text3 {
    font-size: 16px;
    font-family: 'Roboto Medium';
    font-weight: 500;
    line-height: 18.75px;
    color: #414141;
    margin: 9px 0 0 0;
}
.list__catalog__card__sale {
    display: flex;
    position: absolute;
    left: 18px;
    top: -11px;
    gap: 7px;
    align-items: center;
}
.list__catalog__card__sale1 {
    width: 17px;
    height: 17px;
}
.list__catalog__card__sale2 {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    font-family: 'Roboto Medium';
}
.list__catalog__hide {
    display: none;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 15px;
    gap: 17px;
}    
.hide__size {
    width: 193px;
    height: 52px;
}
.hide__size__block {
    display: flex;
    gap: 15px;
    margin-top: 8px;
}
.hide__size__block1 {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.hide__size__title {
    font-size: 12px;
    font-weight: 400;
    line-height: 14.06px;
    color: #414141;
    font-family: 'Roboto Medium';
}
.hide__size__block2 {
    font-size: 9px;
    font-weight: 400;
    line-height: 10.55px;
    color: #C4C4C4;
    font-family: 'Roboto Medium';
}
.hide__size__block3 {
    font-size: 9px;
    font-weight: 400;
    line-height: 10.55px;
    color: #414141;
    font-family: 'Roboto Medium';
}
.list__catalog__hide__button {
    font-size: 13px;
    font-weight: 400;
    line-height: 15.23px;
    color: #FFFFFF;
    font-family: 'Roboto Medium';
    width: 223px;
    height: 40px;
    background-color: #245462;
    border: none;
}
.list__catalog__card:hover {    
    box-shadow: 0 1px 9px 0 #0000001C;        
    z-index: 1;  
    height: 448px;
}
.list__catalog__card:hover .list__catalog__hide {
    display: flex;
}
footer {
    width: 1400px;
    height: 234px;    
}
.footer__left{
    margin-left: 140px;
    width: 384px;
    height: 148px;
}
.footer__left__nav {
    width: 384px;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    gap: 7px;
}
.footer__left__title {
    font-size: 14px;
    font-weight: 500;
    line-height: 17.74px;
    color: #000000;
    font-family: 'Roboto Medium';
}
.footer__left__nav1 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17.74px;
    color: #414141;
    font-family: 'Roboto Medium';
}
.footer__left_down {
    margin-top: 34px;
    display: flex;
    gap: 30px;
}
.footer__left__nav1_r {
    color: red;
}
@font-face {
    font-family: "Roboto Regular"; 
    src: url("../fonts/Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}   
@font-face {
    font-family: "PlayfairDisplaySC"; 
    src: url("../fonts/PlayfairDisplaySC-Black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}  
@font-face {
    font-family: "RobotoCondensed Light"; 
    src: url("../fonts/RobotoCondensed-Light.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}   
@font-face {
    font-family: "Roboto Medium"; 
    src: url("../fonts/Roboto-Medium.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
}   

